<section id="viewSingleAd" class="viewCreateAd">
    <h1 class="titleForm">Single Advertisement</h1>
    <div id="contentPicture"></div>
    <form id="formSingleAdContent" class="form">
        <div id="contentTitle">Title: {{title}}</div>
        <div id="contentDescription">Description: {{description}}</div>
        <div id="contentDatePublished">Date published: {{date}}</div>
        <div id="contentPrice">Price: {{price}}</div>
        <div id="contentViews">Views: {{views}}</div>
    </form>
</section>