{{> header}}
{{> navigation}}

<section id="viewFeed">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{name}}</h2>

            {{> submitChirpForm}}

            <div id="userStats" class="user-details">
                <span>{{chirps}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
            </div>
        </div>
        <div id="chirps" class="chirps"><h2 class="titlebar">Chirps</h2>

            {{#each articles}}
                {{> article}}
            {{else}}
                <p>No chirps in database</p>
            {{/each}}

        </div>
    </div>
</section>

{{> footer}}